body {
    background-color: plum;
}

#top {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 232px;
}

#mapid { 
    margin: auto;
    height: 500px; 
    width: 750px;
    }